services:
  strapi:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: contenthub-strapi
    ports:
      - "1338:1338"
    volumes:
      # solo montamos src, config y public
      # NO montamos node_modules
      - ./backend/src:/app/src
      - ./backend/config:/app/config
      - ./backend/public:/app/public
      - ./backend/data:/app/data
    environment:
      NODE_ENV: development
      DATABASE_CLIENT: sqlite
      DATABASE_FILENAME: /app/data/data.db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: contenthub-frontend
    ports:
      - "5173:5173"
    stdin_open: true
    tty: true
    environment:
      VITE_API_URL: "http://localhost:1338/api"
    depends_on:
      - strapi
